body{
    padding-top: 100px; 
    width: 99%;
    padding-left: 0%;
    margin-left: 0%;
}  
.landing-wallpaper {
    height: 600px;
    width: 100%;
    padding-left: 10px;
    background-size: auto;
    background-repeat: no-repeat;
}