<!-- <app-header></app-header>
  <app-card></app-card> -->
  <header>
    <div class="row">
      <div class="col1">
      <img src="./assets/img/1 (1).jpg">
      </div>
      <div class="col2">
          <app-search></app-search>
      </div>
       <div class="col3">
          <mat-card-actions>
              <button mat-raised-button (click)="Login()">Login</button>
              <button mat-raised-button (click)="Signup()">SignUp</button>
          </mat-card-actions>
      </div>
    </div>
  </header>
  <body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <app-card></app-card>
  </body>
