<!-- <app-header></app-header>
  <app-card></app-card> -->
  <header>
    <div class="row1">
      <img src="./assets/img/logo.svg">
      <h3>SHOEFLY</h3>
      <div class = "row">
        <input type="text" #myInput [(ngModel)]="productName" (input)= "search()" placeholder="search by brand"/>
      </div>
     
       <div class="wrap">
          <mat-card-actions>
              <button mat-raised-button (click)="Login()">Login</button>
              <!-- <button mat-raised-button (click)="Signup()">SignUp</button> -->
          </mat-card-actions>
      </div>
    </div>
  </header>
  <body>
    <!-- <div mat-card-title class="slogan">
      <h2>Joota</h2>
       <h3>A difference you can feel in your sole.</h3>
    </div> -->
      <img class="landing-wallpaper" src="./assets/img/landing-wallpaper.jpg">
      <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/A-9-jlaGxAc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <app-card></app-card>
  </body>
