  <header>
    <div class="row1">
      <img src="./assets/img/logo.svg">
      <h3>SHOEFLY</h3>
      <div class = "row">
        <input type="text" #myInput [(ngModel)]="productName" (input)= "search()" placeholder="search by brand"/>
      </div>
     
       <div class="wrap">
          <mat-card-actions>
              <button mat-raised-button (click)="Login()">Login</button>
          </mat-card-actions>
      </div>
    </div>
  </header>
  <body>
      <img class="landing-wallpaper" src="./assets/img/landing-wallpaper.jpg">
    <app-card></app-card>
  </body>
<footer>
  <p>iam</p>
</footer>