.bharath{
    margin-left:700px;
    color:white;
    background-color: black;
}
.container{
    display:flex;
    margin-left:10px;
}
mat-card{
    /* position: absolute; */
    margin-top:80px;
    height:580px;
    width:500px;
}
mat-card-title{
    margin-left: 200px;
}
mat-card-content{
    margin-top:20px;
}