<div class="container">
<agm-map [style.height]="'270px'" [latitude]="12.9716" [longitude]="77.5946" [zoom]="8" [disableDefaultUI]="false" [zoomControl]="false">
  <agm-marker [latitude]="12.9716" [longitude]="77.5946">
  </agm-marker>
 </agm-map>
 <br>
 
 
 <agm-map [style.height]="'270px'" [latitude]="18.5204" [longitude]="77.5946" [zoom]="8" [disableDefaultUI]="false" [zoomControl]="false">
  <agm-marker [latitude]="18.5204" [longitude]="73.8567">
  </agm-marker>
 </agm-map>
 <br>
 
 
 <agm-map [style.height]="'270px'" [latitude]="22.5726" [longitude]="88.3639" [zoom]="8" [disableDefaultUI]="false" [zoomControl]="false">
  <agm-marker [latitude]="22.5726" [longitude]="88.3639">
  </agm-marker>
 </agm-map>
 <button mat-raised-button class="bharath" (click)="continue()">Continue</button>
 </div>