
<div class="container">
<app-header></app-header> 

  <table>
    <tr>
      <td>
        <mat-card class="ding">
          <mat-form-field>
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="Choose a date"
                (dateInput)="addEvent($event)"
              />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-card>
</td>
<td>
  <div mat-card-actions class="id">
    <button mat-raised-button (click)="checkcontainer()">CHECK CONTAINER</button>
    </div>
  </td>
  </tr>
  </table>
  
  <div *ngIf='loaded'>
  <app-slot [date]="slotDate" ></app-slot>
</div>
  <app-footer></app-footer>
</div>