<div class="container">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-card>
    <div class="items2" *ngFor='let p of slotsAvailable' >
              <mat-card-title>{{ p.date }}</mat-card-title>
   <mat-card-content>
          <div class="ring" *ngFor="let r of p['slots']">
  
    <button mat-raised-button (click)="slot(r)" [disabled]="r.slotStatus">{{ r.slotNumber }}
      <p class="type">{{ r.slotType }}</p>
    </button>
   </div>
   </mat-card-content>
   </div>
   </mat-card>
  
   <div mat-card-actions class="id">
   <button mat-raised-button (click)="shop()">CONTINUE</button>
   </div>
  </div>