<app-header></app-header>
<div class="container">
  
  <mat-card class="cards">
  
     <div class="items" *ngFor="let p of data.slotAvailabilities" > 
      
      <mat-card-title>{{ p.date }}</mat-card-title>

    
      <div class="bingo" *ngFor="let r of p.slots">
          <p class="type">{{ r.slotType }}</p>
          <mat-card class="lays" *ngFor="let q of r.containers">
              <p class="type">{{ q.totalContainerSize-q.availableContainerSize }}%</p>
          </mat-card>
          </div>
   
        </div>
   </mat-card>
  
   <div mat-card-actions class="id">
   <button mat-raised-button (click)="shop()">CONTINUE</button>
   </div>
  </div> 
  <app-footer></app-footer>