.container{
    padding-top: 300PX;
    display:flex;
}
.sing{
    margin-left: 300px;
    height:200px;
    width:400px;
    font-size: 40px;
    color:white;
    background-color:black;
    border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.zing{
    margin-left: 200px;
    height:200px;
    width:400px;
    font-size: 40px;
    color:white;
    background-color:black;
    border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.kranthi{
    background-image: url('../../assets/img/image.png');
    /* background-image: cover; */
    background-repeat: no-repeat;
    background-image: cover;
    margin-left:-10px;
    width: 1535px;
    height: 780px;
 }
