<app-header></app-header>
<div class="row" fxLayout.xs="column">
    <div fxLayout="" fxLayoutGap="32px" fxLayoutAlign="flex-start" *ngFor='let o of products'>
        <div fxFlex="20%">
    <mat-card class='product--blue'>
      <mat-card-header>  
          <img mat-card-image src="{{o.imageURL}}" alt="{{o.brand}}">
          <mat-card-title>
              <p>{{o.brand}}</p>
          </mat-card-title>
          <mat-card-actions align="center">
            
              <button mat-raised-button (click)="buy3()">BUY</button>
              <button mat-raised-button (click)="remove3()">REMOVE</button>
              <button mat-raised-button  (click)="continue3()">CONTINUE SHOPPING</button>
          
          </mat-card-actions>
    </mat-card-header> 
  </mat-card>
  </div>
    </div>
  </div>