<div class="section">
    <!-- <div  *ngFor='let o of products.price'>
     -->
    <mat-card>
        <div class="bingo">
      <!-- <mat-card-title>  
          <P>PRICE DETAILS</P>
          </mat-card-title>   
          <mat-card-footer>      
       <p>TOTAL AMOUNT</p>

      
      </mat-card-footer> -->
      <mat-toolbar>  
          <mat-toolbar-row>
            <span>PRICE DETAILS</span><hr>
          </mat-toolbar-row>
          
          <mat-toolbar-row *ngFor='let v of products.price'>
            var sum = 0;
            
            sum=sum+v.products.price;
            <p>{{ sum }}</p>
          </mat-toolbar-row>
          <span>Price</span>
          <mat-toolbar-row>
              <span>Total Amount</span>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    </mat-card>
  
    </div>
<div class="row" fxLayout.xs="column">
    <div class="column" fxLayout="col" fxLayoutGap="3px" fxLayoutAlign="flex-start" *ngFor='let o of products'>
        <div fxFlex="20%">
    <mat-card class='product--blue'>
      <mat-card-header>  
          <img mat-card-md-image src="{{o.imageURL}}" alt="{{o.brand}}">
          </mat-card-header>         
        <div class="sing">
          <p>{{ o.productName }}</p>
          <h3>₹{{ o.price +"/-"}}</h3>
          <p style='text-decoration:line-through'>₹{{ o.mrp }}</p>
          <p style="color:green">Discount: {{(((o.mrp-o.price)/o.mrp)*100)+"%  Off"}}</p>
        </div>
        <mat-card-footer>
            <button mat-raised-button (click)="remove3()">REMOVE</button>
        </mat-card-footer>
  </mat-card>
</div>
</div>
<div class="next">
  <mat-card class="footer">
      <div  class="continuenext">
        <button mat-raised-button class="continueproduct" style="background:orange; color:white" (click)="continue3()">CONTINUE SHOPPING</button>
        <button mat-raised-button class="buyproduct" style="background:green; color:white" (click)="buy3()">BUY</button>
        </div>
  </mat-card>
  </div>
</div>


 