.example-spacer {
    flex: 1 1 auto;
  }
  
  .styling{
    text-align: center;
  }

  .mat-toolbar-row, .mat-toolbar-single-row {
    display: inline;
    box-sizing: border-box;
    padding: 16px 16px;
    /* width: 100%; */
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    background-color: cornflowerblue;
}
  