.example-card{
    width: 300px;
    height:550px;
    align-content: center;
    text-align: center;
    margin-left: 570px;
    margin-top: 20px;
    position: absolute;
   }
   mat-radio-button{
       display: inline;
   }
