// h1{
//     text-align: center;
// }
// .id
// {
//     margin-top: 1%;
//     margin-left: 40%;
// }

// .password{
//     margin-left: 40%;  
// }
// .button{
//     margin-left: 40%;
// }

.example-card{
    width: 250px;
    height:500px;
    align-content: center;
    text-align: center;
    margin-left: 570px;
    margin-top: 20px;
   }