<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Registration Form</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="UserName" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
 
 
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="EmailId" [(ngModel)]="emailid" name="emailid" required>
            </mat-form-field>
          </td>
        </tr>
 
 
        <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
          <i class="material-icons">
            visibility
            </i>
        </mat-form-field></td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Mobile" [(ngModel)]="Mobileno" name="Mobileno" required>
            </mat-form-field>
          </td>
        </tr>
 
        <tr>
          <td>
            <!-- <mat-form-field class="example-full-width">
            <input matInput placeholder="Date Of Birth" [(ngModel)]="dob" name="dob" required>
            </mat-form-field> -->
            <!-- <mat-form-field class="example-full-width">
              <input matInput [ matDatepicker ]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field> -->
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="picker" placeholder="Date Of Birth">
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
 
 
          </td>
        </tr>
 
 <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Gender" [(ngModel)]="gender" name="gender" required>
            <mat-radio-group appearance="outline">
              <mat-radio-button value="1">Male</mat-radio-button>
              <mat-radio-button value="2">Female</mat-radio-button>
            </mat-radio-group>
            </mat-form-field>
          </td>
        </tr>
 
        </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Register</button>
  </mat-card-actions> 
</mat-card>