<header>
  <div class="row1">
    <img src="./assets/img/logo.svg">
    <h3><a href="Home()">SHOEFLY</a></h3>
    <!-- <div class = "row">
      <input type="text" #myInput [(ngModel)]="productName" (input)= "search()" placeholder="search by brand"/>
    </div> -->
          <div class="wrap" *ngIf=userLogged>
        <mat-card-actions>
            <button mat-raised-button (click)="Login()">Login</button>
            </mat-card-actions>
          </div>
          <div class="wrap1"  *ngIf=flag>
            <mat-card-actions>
                <button mat-raised-button (click)="Logout()">Logout</button>
                </mat-card-actions>
              </div>
          <div class="id">
          <button mat-raised-button (click)="cartbutton()"><mat-icon>shopping_cart</mat-icon></button>
        </div>
        <div class="id1">
          <button mat-raised-button (click)="profile()"><mat-icon>account_circle</mat-icon></button>
        </div>




             <!-- <ng-container *ngIf="name && false">
              <div class="id1">
          <button mat-raised-button (click)="profile()"><mat-icon>account_circle</mat-icon></button>
        </div>
            </ng-container> -->
            <!-- <ng-template #elseTemplate>
              <!-- <button mat-raised-button (click)="Login()">Login</button> -->
              <!-- <div class="id1">
                <button mat-raised-button (click)="profile()"><mat-icon>account_circle</mat-icon></button>
              </div> -->
            <!-- </ng-template> -->
            
           
           <!-- <ng-container *ngIf="button; elsebutton">
            <button mat-raised-button (click)="Login()" class="button">Login</button>
            
           </ng-container>
           <ng-template #elseTemplate>
            <button mat-raised-button (click)="Logout()" class="elsebutton">Logout</button>
           </ng-template> -->
           
        
    
  </div>
</header>
