<!-- <form [formGroup="service-form"]>

</form> -->

<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Enter Name">
    </mat-form-field>
  
    <mat-form-field>
        <input matInput placeholder="Enter UserID">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter Email">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter Password">
      </mat-form-field>
       <mat-card-actions> 
      <button (click)="submit($event)">Submit</button>
    </mat-card-actions>
      
     
    <!-- <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field> -->
  </div>

