<div class="container">
        
        <div *ngIf="productDetails">
       <h1 mat-dialog-title>Product Details</h1>
              <p>{{products.Products_id}}</p>
              <p><img class="id" src="{{this.products.Image_URL}}"></p>
              <p>{{products.Product_name}}</p>
              <p>{{products.Price}}</p>
              <p>{{products.Size}}</p>
              <p>{{products.Brand}}</p>
              <p>{{products.Colour}}</p>
              <p>{{products.MRP}}</p>
              <mat-card-actions>
                        <button mat-raised-button (click)="buy()">Buy</button>
                       <button mat-raised-button (click)="remove()">Remove</button>
                    </mat-card-actions>
        </div>
       </div>