<div class= "container">
  <div class="mon">
  <button (click)="closeDailog()" md-dailog-close><mat-icon>close</mat-icon></button></div>
<h1 mat-dialog-title>Product Details</h1>
<p><img class="id" src="{{data.o.imageURL}}"></p>
<div class="day">
<p >Name:{{ data.o.productName }}</p>
<p>Type:{{ data.o.productType }}</p>
<p>MRP:{{ data.o.mrp }}</p>
<p>Price:{{ data.o.price }}</p>
<p>Dimension:{{ data.o.dimension }}</p>
<p>Weight:{{ data.o.weight }}</p>
<p>Size:{{ data.o.size }}</p>
<p>Data:{{ data.o.gender }}</p>
<p>Despriction:{{ data.o.description }}</p>
<p>Brand:{{ data.o.brand }}</p>
<p>Color:{{ data.o.colour }}</p>
<div mat-dialog-actions>
<button mat-raised-button (click)="AddtoCart()" >ADD TO CART</button>
<button mat-raised-button (click)="buy1()">BUY NOW</button>
  </div>
</div>
</div>