.container{
    height:300px;
    width: 1000px;
 }
 .day{
    float:right;
    font-family: 'Righteous', cursive;
 }
 .mon{
    float:right;
 } 
 .id{
    height: 300px;
    width:  500px;
    position: absolute;
 }
 mat-icon{
     color:black;
     text-decoration: none;
     float:right;
     padding-left: 1px;
     top:0%;
 }