<!--  
 <mat-form-field appearance="inline" >
      <div class="box">
      <input matInput placeholder="Search for product, brand and more" (input)="onKey($event)" >
     <mat-icon matSuffix>search</mat-icon> 
      <i class="material-icons">
        search
        </i>
    </div>
  </mat-form-field> -->

  <input
    (keyup)="searchTerm$.next($event.target.value)">

<ul *ngIf="results">
  <li *ngFor="let result of results | slice:0:9">
    <a href="{{ result.latest }}" target="_blank">
      {{ result.name }}
    </a>
  </li>
</ul>