mat-form-field{

    width: 500px;
    font-size: 15px;
    padding: 0px;
    padding-left: 400px;
   padding-top: 6px;
  color: white;
  size: 12px;
  
}

input{
    color:black;
<<<<<<< HEAD
=======
    position: absolute;
    height:30px;
>>>>>>> 6feda0e1ab8986eae2136541a3c66d4fe2b966cd
    width: 100%;
    font-size: 15px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
<<<<<<< HEAD
=======
  
>>>>>>> 6feda0e1ab8986eae2136541a3c66d4fe2b966cd

}
.box{
    padding-bottom: 0%;
    background-color: white;
    border-radius: 8px;
}
mat-icon{
    position: relative;
    color: black;
    float: right;
<<<<<<< HEAD
    bottom: 6px;
=======

>>>>>>> 6feda0e1ab8986eae2136541a3c66d4fe2b966cd
}