 <app-header [name]="names"></app-header>
 <!-- <button disabled="{{buttonDisabled}}">login</button> -->
 <div class="container" >
  <div class="pics">
  <form [formGroup]="user" (ngSubmit)="login()">
   <mat-form-field appearance="outline" class="id">
    <mat-label>Email-Id</mat-label>
    <input matInput placeholder="Enter your email id" type="text"
     formControlName="userId" required />
    <mat-hint></mat-hint>
   </mat-form-field>
   <mat-form-field appearance="outline" class="password" style="color:white">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter your password" type="password"
     formControlName="password" required />
   <mat-hint></mat-hint>
   </mat-form-field>
   <div mat-card-action>
   <button mat-raised-button class = "btn" color="primary" type="submit" [disabled]="!user.valid" (click) = "login()">Login</button>
   <p>Have you registered yet or not?</p> 
   <button (click) = "signup()" mat-button class="btn1"  color="primary">Register</button>
  </div>
  </form>
  </div>
  </div>



