<app-header></app-header>
<table>
  <tr>
    <td>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Choose a date"
          (dateInput)="addEvent($event)"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <mat-select placeholder="Choose slots">
          <mat-option
            *ngFor="let slot of slots"
            value="{{ slot.value }}"
            (click)="onClick(slot.value)">
            {{ slot.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>

    <td>
      <button (click)="showGraph()" type="submit" #submitButton>
        Show routes
      </button>
    </td>
  </tr>
</table>

<div *ngIf="errorMessage">
  {{ errorMessage }}
</div>
<mat-card>
  <p>x-axis: latitude</p>
  <p>y-axis: longitude</p>
</mat-card>
<app-chart></app-chart>
<app-footer></app-footer>
