<div class="a" class="container">

<mat-card class="col">
<section  class="laststep"
fxLayout
fxLayout="column"
fxLayoutAlign="center center"
fxLayoutGap="10px">
<h3>Personal Information</h3>

<!-- <img mat-card-image src="./assets/img/user.svg" alt="usericon"> -->
        <label class="step1">Name : {{ name }}</label> <br />
        
        <label class="step1">User Id : {{ userid }}</label> <br />

        <label class="step1">Gender : {{ genderOfUser }}</label> <br />
      
        <label class="step1">MobileNo : {{ MobileNo }}</label> <br />

        <label class="step1">DOB : {{ DOB }}</label> <br />

        <button mat-raised-button (click)="Profile()">Submit</button>

      </section>
    </mat-card>
      </div>



<!-- 
        <button (click) = "Profile()" mat-button class="btn1"  color="primary">Profile</button> -->

        <!-- <br>
          <a class="step1" href="/Email Address">Edit</a>
          <br>
          <a class="step1" href="#">Change Password</a> -->