.laststep{
padding-top: 100px;
  background-image:
  url("../../../../assets/img/backg.jpg");
width: 1500px;
height: 800px;
position: absolute;
}
h3{
text-align: center;
}

.col{
position: relative;
padding-right: 1100px;
padding-bottom: 280px;

}
.col1{
background-color: whitesmoke;
width: 350px;
position: absolute;
height: 350px;
text-align: left;
padding-top: 40px;
}
.img{
z-index: 0px;
height: 150px;
width: 180px;   
}
